[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PricingBandits"]
	path = PricingBandits
	url = https://github.com/ian-weaver/pricingbandits
